@import "tailwindcss";

html,body{
  margin:0;
  padding:0;
  font-family:"Space Grotesk", sans-serif;
  background: #0a0a0a;
  color:#f3f4f6;
}
@layer utilities{
@keyframes blink {
    0%, 100%{
      opacity:1;
    }
    50%{
      opacity:0;
    }
  }
.animate-blink{
  animation: blink 0.8s step-end infinite;
 }
}

@keyframes loading {
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform:translateX(0%);
    }
  }
.animate-loading-bar{
  animation: loading 0.8s ease infinite;
 }

.reveal{
  opacity:0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible{
  opacity:1;
  transform: translateY(0);
}
.instagram-link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.instagram-link span {
  display: block;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.35s cubic-bezier(0.6, 0.4, 0, 1);
}

.instagram-link:hover span {
  transform: translate3d(0);
  opacity: 1;
}

.linkedin-link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.linkedin-link span{
          display: block;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.35s cubic-bezier(0.6, 0.4, 0, 1);
}
.linkedin-link:hover span{
   transform: translate3d(0);
  opacity: 1;

}
.Mail-link{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.Mail-link span{
   display: block;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.35s cubic-bezier(0.6, 0.4, 0, 1);

}
.Mail-link:hover span{
 transform: translate3d( 0);
  opacity: 1;
}
.Github-link{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.Github-link span{
   display: block;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.35s cubic-bezier(0.6, 0.4, 0, 1);

}
.Github-link:hover span{
 transform: translate3d( 0);
  opacity: 1;
}

.tech-link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tech-link span {
  display: block;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.35s cubic-bezier(0.6, 0.4, 0, 1);
}

.tech-link:hover span {
  transform: translateY(0);
  opacity: 1;
}
